{% extends "EnspBundle::base.html.twig" %}
{% block title %}Strona Główna{% endblock %}
{% block bodyHeader %}Zlot Grunwaldzki 2016 - witamy!{% endblock %}
{% block bodyDesc %}
{% endblock %}
{% trans_default_domain 'EnspBundle' %}

{% block body %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p>{{ 'hello'|trans }} {{ app.user.name }}! </p>

    {% else %}
        <p>Witaj na stronie systemu zgłoszeń na {{ 'zg2016'|trans }}!</p>
        <p>Zaloguj się lub zarejestruj konto i zgłoś udział swój lub swojej drużyny w Zlocie!</p>

    {% endif %}
    <br><br><b>Aktualności</b>:
    <li><b>30.05.2016</b> - uruchomienie list osób.</li>
    <li><b>07.05.2016</b> - oddanie do testów tworzenia listy osób.</li>
    <li><b>03.05.2016</b> - zwiększenie kwoty dla spóźnialskich do 170 zł / os.</li>
    <li><b>03.05.2016</b> - włączenie zgłoszeń dla Instruktorów Indywudualnych.</li>
    <br><br>
        <p><b>Ważne informacje:</b></p>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Data Zlotu</td>
                <td><b>11 - 17.07.2016r.</b></td>
            </tr>
            <tr>
                <td>Koszt</td>
                <td><b>165.00 zł / 170.00 zł</b> - dla zgłoszonych po 03.05.2016r.</td>
            </tr>
            <tr>
                <td>Start zgłoszeń dla Drużyn:</td>
                <td><b>01.03.2016r.</b></td>
            </tr>
            <tr>
                <td>Start zgłoszeń dla Indywidualnych instruktorów:</td>
                <td><b>03.05.2016r.</b></td>
            </tr>
            <tr>
                <td>Start zgłoszeń dla Służb:</td>
                <td><b>15.04.2016r.</b></td>
            </tr>
            <tr>
                <td>Termin wpłaty zaliczki:</td>
                <td><b>15.04.2016r.</b></td>
            </tr>
            <tr>
                <td>Termin pełnej wpłaty:</td>
                <td><b>30.05.2016r.</b></td>
            </tr>
            <tr>
                <td>Wpłaty::</td>
                <td>ZHP Chorągiew Warmińsko-Mazurska<br>
                    ul. Kopernika 45, 10-512 Olsztyn<br>
                 <b>35 2030 0045 1110 0000 0399 0540</b>
                </td>
            </tr>
            </tbody>
        </table>
        <br><br>
    W przypadku pytań dotyczących Zlotu, zgłoszeń (zmian) prosimy o kontakt pod adresem <b>zlot.grunwaldzki@zhp.net.pl</b>
    <br>

    W przypadku pytań dotyczących systemu zgłoszeń prosimy o kontakt pod adresem <b>kontakt@mariuszpisz.pl</b>

{% endblock %}
