{% extends "EnspBundle::base.html.twig" %}
{% block title %}Zgłoszenia{% endblock %}
{% block bodyHeader %}
    {% if a.id == '' %}
        Dodaj nowe zgłoszenie!
    {% else %}
        Edytuj zgłoszenie!
    {% endif %}
{% endblock %}
{% block bodyDesc %}
{% endblock %}
{% trans_default_domain 'EnspBundle' %}
{% block body %}
    <p>{{ 'form.appl.infoAdd'|trans }}</p>
    <p>{{ 'form.appl.noChange'|trans }}</p>
    <br>
    <p><b>{{ 'form.appl.registrationRulesPrefix'|trans }}<a href="{{ asset('media/regulamin.pdf') }}" target="_blank">{{ 'form.appl.registrationRules'|trans }}</a>.</b></p>
    <br>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <p>{{ 'form.appl.countInfo' | trans }}</p>
{% endblock %}


