{% extends "EnspBundle::base.html.twig" %}
{% block title %}Osoby{% endblock %}
{% block bodyHeader %}
    Zgłoszenie do służb
{% endblock %}
{% block bodyDesc %}
{% endblock %}
{% trans_default_domain 'EnspBundle' %}

{% block body %}

<div class="row">
    <br>{{ 'hello'|trans }} {{ person.firstName }}!
    <br>Właśnie zgłosiłeś się do Służb Grunwaldzkich!
    <br>Twoje zgłoszenie zostało zarejestrowane do: <b>{{ team.teamName }}</b>
    <br>
    <br>{{ 'paymentRemind'|trans|raw }}
    <br>
    <br>Kwoty wpłaty:
    <br><b>Drużyna Kwatermistrzowska</b> - bezpłatnie
    <br><b>HSP</b> - 100 zł
    <br><b>Recepcja</b> - 100 zł
    <br><b>Komendy Gniazd</b> - 100 zł
    <br><b>Zespół plastyka</b> - 100 zł
    <br><b>Zespół programowy</b> - 100 zł
    <br><b>Komenda Zlotu</b> - 100 zł
    <br><b>Grund Info</b> - 100 zł
    <br><b>Zespół Promocji</b> - 100 zł
    <br>
    <br>W <b>tytule przelewu</b> należy wpisać ID, służbę oraz nazwisko i imię.
    <br>W tym przypadku będzie to <b>{{ person.id }}, {{ team.teamName }}, {{ person.lastName }} {{ person.firstName }}</b>.
    <br>{{ 'accountTitlePlease'|trans }}
    <br>
    <br>{{ 'account'|trans|nl2br }}
</div>
{% endblock %}


