{% extends "EnspBundle::base.html.twig" %}
{% block title %}Płatności{% endblock %}
{% block bodyHeader %}
    {% if a.id == '' %}
        Dodaj nową płatność!
    {% else %}
        Edytuj płatność!
    {% endif %}
{% endblock %}
{% block bodyDesc %}
{% endblock %}

{% block body %}
    <p>Kwotę należy wprowadzić z kropką.</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}


