{% extends "EnspBundle::base.html.twig" %}
{% block title %}Drużyny{% endblock %}
{% block bodyHeader %}
    {% if a.id == '' %}
        Dodaj nową drużynę!
    {% else %}
        Edytuj drużynę!
    {% endif %}
{% endblock %}
{% block bodyDesc %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}


