{% extends "EnspBundle::extraBase.html.twig" %}

{% block title %}{{ 'zg2016'|trans }}{% endblock %}
{% block bodyHeader %} [{{ team.id }}] - {{ team.teamName }} {% endblock %}
{% block bodyDesc %}{% endblock %}
{% trans_default_domain 'EnspBundle' %}
{% set totalPersonCount = 0 %}
{% set totalXS = 0 %}
{% set totalS = 0 %}
{% set totalM = 0 %}
{% set totalL = 0 %}
{% set totalXL = 0 %}

{% block body %}

    <div class="row">
    Proszę wydrukować tę stronę (Ctrl + P). <br><br>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'form.team.ensign'|trans }}</th>
                <th>{{ 'form.team.troops'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ team.ensignId }}</td>
                <td>{{ team.troops }}</td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th>{{ 'form.team.is_grunwaldzka'|trans }}</th>
                <th>{{ 'form.team.created'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ team.isGrunwaldzka }}</td>
                <td>{{ team.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            </tbody>

        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'form.appl.totalCount'|trans }}</th>
                <th>{{ 'form.appl.created'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ appl.totalCount }}</td>
                <td>{{ appl.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th>{{ 'form.appl.totalAmount'|trans }}</th>
                <th>{{ 'form.appl.advance'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ appl.totalAmount }} {{ 'system.currency'|trans }}</td>
                <td>{{ appl.advance }} {{ 'system.currency'|trans }}</td>
            </tr>
            </tbody>
        </table>

        <p></p>
    </div>

    <div class="row">
        {% if inv is defined and inv is not null %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'form.inv.fullName'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.fullName }}
                    </div>
                    <div class="panel-heading">{{ 'form.inv.street'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.street }}
                    </div>
                    <div class="panel-heading">{{ 'form.inv.city'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.city }}
                    </div>
                    <div class="panel-heading">{{ 'form.inv.nip'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.nip }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if payments is defined and payments is not null %}
        <h2>{{ 'payments.info'|trans }}</h2>
        <p></p>
        {% if teamBalance is not null and teamBalance != 0 %}
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'payments.amount'|trans }}</th>
                        <th>{{ 'payments.date'|trans }}</th>
                        <th>{{ 'warnings'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pay in payments %}
                        <tr>
                            <td>{{ pay.amount }}</td>
                            <td>{{ pay.PaymentDate|date("d-m-Y") }}</td>
                            <td>{{ pay.information }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <b>{{ 'payments.paymentsSum'|trans }} {{ teamBalance }} zł.</b><br><br><br>
                <p></p>
            </div>
        {% else %}
            <p>{{ 'payments.noPaymentsForTeam'|trans }}</p>
        {% endif %}
    {% endif %}

    {% if persons is not null %}
        <h2>{{ 'personList.info'|trans }}</h2>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'person.nameSurname'|trans }}</th>
                    <th>{{ 'person.pesel'|trans }}</th>
                    <th>{{ 'person.address'|trans }}</th>
                    <th width="10%">{{ 'person.shirtSize'|trans }}</th>
                    <th width="20%">{{ 'person.sign'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for person in persons %}
                    {% if person.personType == "S" %}
                        <tr>
                            <td>{{ person.firstName }} {{ person.lastName }}</td>
                            <td>{{ person.pesel }}</td>
                            <td>{{ person.address }}</td>
                            <td>{{ person.shirtSize }}</td>
                            <td></td>
                        </tr>
                        {% if person.shirtSize == "XS" %}
                            {% set totalXS = totalXS + 1 %}
                        {% elseif person.shirtSize == "S" %}
                            {% set totalS = totalS + 1 %}
                        {% elseif person.shirtSize == "M" %}
                            {% set totalM = totalM + 1 %}
                        {% elseif person.shirtSize == "L" %}
                            {% set totalL = totalL + 1 %}
                        {% elseif person.shirtSize == "XL" %}
                            {% set totalXL = totalXL + 1 %}
                        {% endif %}

                        {% set totalPersonCount = totalPersonCount + 1 %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <h4>{{ 'personList.infoGuard'|trans }}</h4>
            <br>{{ 'personList.guardDeclaration'|trans|nl2br }} <br>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'person.nameSurname'|trans }} <br> {{ 'person.pesel'|trans }}<br> {{ 'person.shirtSize'|trans }}</th>
                    <th width="30%">{{ 'person.address'|trans }} </th>
                    <th width="20%">{{ 'person.certificate'|trans }} <br> {{ 'person.krs'|trans }} </th>
                    <th width="20%">{{ 'person.sign'|trans }}</th>
                </tr>
                </thead>
                <tbody>

                {% for person in persons %}
                    {% if person.personType == "SG" %}
                        <tr>
                            <td>{{ person.grade }} {{ person.firstName }} {{ person.lastName }} <br>{{ person.pesel }}<br> {{ person.shirtSize }}</td>
                            <td>{{ person.address }} </td>
                            <td>{{ person.certificate }} <br> {{ person.krs|date('Y-m-d') }} </td>
                            <td></td>
                        </tr>


                        {% if person.shirtSize == "XS" %}
                            {% set totalXS = totalXS + 1 %}
                        {% elseif person.shirtSize == "S" %}
                            {% set totalS = totalS + 1 %}
                        {% elseif person.shirtSize == "M" %}
                            {% set totalM = totalM + 1 %}
                        {% elseif person.shirtSize == "L" %}
                            {% set totalL = totalL + 1 %}
                        {% elseif person.shirtSize == "XL" %}
                            {% set totalXL = totalXL + 1 %}
                        {% endif %}
                        {% set totalPersonCount = totalPersonCount + 1 %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br><br>

            {% if appl is not null %}
                <b>{{ 'form.appl.totalCount'|trans }} {{ appl.totalCount }}.</b>
            {% endif %}
            <br><b>{{ 'personList.onList'|trans }} {{ totalPersonCount }}.</b>
            <br><br><br><br>
            {{ 'personList.tshirts'|trans }}<br>
            <b>{{ 'personList.xsSize'|trans }}</b>: {{ totalXS }} ,
            <b>{{ 'personList.sSize'|trans }}</b>: {{ totalS }} ,
            <b>{{ 'personList.mSize'|trans }}</b>: {{ totalM }} ,
            <b>{{ 'personList.lSize'|trans }}</b>: {{ totalL }} ,
            <b>{{ 'personList.xlSize'|trans }}</b>: {{ totalXL }}
            <br>
            <br>{{ 'personList.gettShirts'|trans }}:
            <br><br>
            <br>{{ 'personList.signature'|trans|nl2br }}
            <br><br>
            <br><br>
            <br>{{ 'personList.troopsDeclarationPartOne'|trans|nl2br }} <b>{{ team.troops }}</b> {{ 'personList.troopsDeclarationPartTwo'|trans|nl2br }} <b>{{ team.teamName }}</b>
            {{ 'personList.troopsDeclarationPartThree'|trans|nl2br }}
            <br><br>
            <br>{{ 'personList.troopsSignature'|trans|nl2br }}

            <br><br>
            <br><br>
            <br><br>



        </div>
        {{ 'ustawa1997'|trans }}
        </div>
    {% endif %}

{% endblock %}

