{% extends "EnspBundle::base.html.twig" %}
{% block title %}Drużyny{% endblock %}
{% block bodyHeader %}Przegląd drużyn{% endblock %}
{% block bodyDesc %}{% endblock %}
{% trans_default_domain 'EnspBundle' %}

{% block body %}
    {% if app.request.get('msg') == 'saved' %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Dane zostały pomyślnie zapisane do bazy danych!
        </div>
    {% elseif app.request.get('msg') == 'deleted' %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Pozycja została pomyślnie usunięta.
        </div>
    {% elseif app.request.get('msg') == 'failed' %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Zapis do bazy danych nie powiódł się.
        </div>
    {% endif %}

    {% if teams|length > 0 %}
        <p>Aktualnie zarządzasz takimi drużynami: </p>
    {% else %}
        <p>Aktualnie nie stworzyłeś jeszcze żadnej drużyny, użyj przycisku poniżej!</p>
    {% endif %}

    <div class="list-group">
        {% for t in teams %}
            <a href="{{ path('ensp_team_view', {'teamid':t.id}) }}" class="list-group-item">
                {{ t.teamName }}
            </a>
        {% endfor %}
    </div>

    <p>
        <a href="{{ path('ensp_team_edit', {'teamid': -1 }) }}">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i> {{ 'form.team.add'|trans }}
            </button>
        </a>
    </p>

{% endblock %}
