{% extends "EnspBundle::base.html.twig" %}
{% block title %}Rejestracja użytkownika{% endblock %}
{% block bodyHeader %}Rejestracja użytkownika{% endblock %}
{% block bodyDesc %}{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
{% endblock body %}
