{% block body %}
    {% block fos_user_content %}

<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

        {% trans_default_domain 'FOSUserBundle' %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="form-signin">
            <h4 class="form-signin-heading">
                Witaj<b> {{ app.user.username }}</b>! Jesteś już zalogowany!
            </h4>
            <a href="{{ path('fos_user_security_logout') }}"
               class="btn btn-primary btn-lg btn-block" role="button">Wyloguj się.</a>
            <a href="{{ path('ensp_home') }}"
               class="btn btn-success btn-lg btn-block" role="button">Przejdź do strony głównej.</a>
            <a href="{{ path('fos_user_profile_show') }}"
               class="btn btn-success btn-lg btn-block" role="button">Przejdź do swojego profilu.</a>
        </div>
        {% else %}

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-default" type="submit" value="{{ 'registration.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
        {%  endif %}
    </div>
</div>

    {% endblock fos_user_content %}

{% endblock %}

