<!DOCTYPE html>
<html>
<head>

    {% trans_default_domain 'EnspBundle' %}

    <title>{{ 'system.name'|trans }} - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% block extraCss %}{% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77000133-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
<div class="container" id="banner">
    <a href="{{ path('ensp_home') }}">
        <img src="{{ asset('img/zg_logo_2016_small.png') }}" class="img-responsive">
    </a>
</div>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ 'nav.download'|trans }} <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ asset('media/instrukcja_grunwald2016.pdf') }}" target="_blank">{{ 'nav.instruction'|trans }}</a></li>
                                <li><a href="{{ asset('media/regulamin.pdf') }}" target="_blank">{{ 'nav.reg'|trans }}</a></li>
                                <li><a href="{{ asset('media/karta_zg16_poziom.pdf') }}" target="_blank">{{ 'nav.cart'|trans }}</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('fos_user_profile_show') }}">{{ 'nav.profile'|trans }}</a></li>
                        <li><a href="{{ path('ensp_team_list') }}">{{ 'nav.team'|trans }}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ 'nav.forone'|trans }} <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                           <!---     <li><a href="#"> {{ 'nav.instructor'|trans }}</a></li> --->
                                <li><a href="{{ path('ensp_personduty_edit',  {'personid' : -1 }) }}"> {{ 'nav.duty'|trans }}</a></li>
                                <li><a href="{{ path('ensp_individual_edit',  {'personid' : -1 }) }}"> {{ 'nav.ind'|trans }}</a></li>
                            </ul>
                        </li>

                        {% if is_granted("ROLE_PAY") %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">{{ 'nav.admin'|trans }} <span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('adm_ensp_team_list') }}"> {{ 'nav.full'|trans }}</a></li>
                             <!--       <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>--->
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            {% else %}
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ asset('media/instrukcja_grunwald2016.pdf') }}" target="_blank">{{ 'nav.instruction'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'nav.register'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'nav.login'|trans }}</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            {% endif %}


        </div><!--/.container-fluid -->
    </nav>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if app.user.name is null or app.user.surname is null or app.user.phone is null or app.user.info is null %}
            <div class="alert alert-danger">
                Wygląda na to, że nie uzupełniłeś wszystkich informacji w profilu użytkownika.<br>
                Zrób to teraz klikając <a href="{{ path('fos_user_profile_edit') }}" class="alert-link">Edytuj
                    profil</a>!
            </div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-sm-10">
            <div class="row">
                <div class="starter-template">
                    <h1>{% block bodyHeader %}{% endblock %}</h1>

                    <p>{% block bodyDesc %}{% endblock %}</p>
                    <hr/>
                </div>
                <div class="col-sm-12">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="col-sm-2">
            {{ render(controller('EnspBundle:Stat:IndexStat')) }}

            {% block rightbody %}
            {% endblock %}
            <p></p>
            <ul class="list-group">
                <a href="http://www.zhp.pl" target="_blank" class="list-group-item">ZHP - Strona Główna</a>
                <a href="http://www.grunwald.zhp.pl" target="_blank" class="list-group-item">Wspólnota Drużyn
                    Grunwaldzkich</a>
                <a href="http://www.wm.zhp.pl" target="_blank" class="list-group-item">Chorągiew Warmińsko-Mazurska</a>
                <a href="http://www.orneta.zhp.pl" target="_blank" class="list-group-item">Hufiec Orneta</a>
            </ul>
            <p></p>
            {{ 'system.copy'|trans }} ver 2.1
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>
{% block extraScripts %}{% endblock %}

</body>
</html>

