<!DOCTYPE html>
<html>
<head>

    {% trans_default_domain 'EnspBundle' %}
    <title>{{ 'system.name'|trans }} - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" >
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet" >
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% block extraCss %}{% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77000133-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div class="container" id="banner">
    <a href="{{ path('ensp_home') }}">
        <img src="{{ asset('img/zg_logo_2016_small.png') }}" width="25%" >
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="row">
                <div class="starter-template">
                    <h1>{% block bodyHeader %}{% endblock %}</h1>

                    <p>{% block bodyDesc %}{% endblock %}</p>
                    <hr/>
                </div>
                <div class="col-sm-12">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
     </div>
</div>


<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>
{% block extraScripts %}{% endblock %}

</body>
</html>

