{% extends "EnspBundle::base.html.twig" %}
{% block title %}Logowanie{% endblock %}
{% block bodyHeader %}Logowanie{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    {% block fos_user_content %}
        <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="form-signin">
                <h4 class="form-signin-heading">
                    Witaj<b> {{ app.user.username }}</b>! Jesteś już zalogowany!
                </h4>
                <a href="{{ path('fos_user_security_logout') }}"
                   class="btn btn-primary btn-lg btn-block" role="button">Wyloguj się.</a>
                <a href="{{ path('harccal_homepage') }}"
                   class="btn btn-success btn-lg btn-block" role="button">Przejdź do strony głównej.</a>
                <a href="{{ path('fos_user_profile_show') }}"
                   class="btn btn-success btn-lg btn-block" role="button">Przejdź do swojego profilu.</a>
            </div>
        {% else %}

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                       required="required"/>

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input class="form-control" type="password" id="password" name="_password" required="required"/>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                <input class="btn btn-lg btn-default btn-block" type="submit" id="_submit" name="_submit"
                       value="{{ 'security.login.submit'|trans }}"/>
            </form>
            </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    Nie masz jeszcze konta?
                    <a href="{{ path('fos_user_registration_register') }}"> Zarejestruj się! </a>
                    <br><a href="{{ path('fos_user_resetting_request') }}"> Zapomniałeś hasła? </a>
                </div>
            </div>
        {% endif %}
    {% endblock fos_user_content %}
{% endblock %}