{% extends "EnspBundle::base.html.twig" %}
{% block title %}Zapomniane hasło{% endblock %}
{% block bodyHeader %}Zapomniane hasło{% endblock %}
{% block bodyDesc %}{% endblock %}

{% block body %}
{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock body %}
