<br>Witaj!
<br>
<br>Informujemy, że zarejestrowaliśmy zgłoszenie Twojej drużyny na Zlot Grunwaldzki 2016!
<br>
<br>Szczegóły zgłoszenia:
<br>Drużyna: {{ team.teamName }}
<br>
<br>Zgłoszonych osób: {{ appl.count }}
<br>Zaliczka: {{ appl.advance }} zł
<br>Cała kwota do wpłaty: {{ appl.totalAmount }} zł
<br>
<br>Pamiętaj o wpłacie zaliczki do 30.04.2016r.!
<br>Całość kwoty powinna wpłynąć na konto Organizatora do 30.05.2016r.
<br>
<br>Wpłaty należy dokonać na konto:
<br>ZHP Chorągiew Warmińsko-Mazurska
<br>ul. Kopernika 45, 10-512 Olsztyn
<br>35 2030 0045 1110 0000 0399 0540
<br>
<br>W tytule przelewu należy wpisać ID Drużyny, w tym przypadku będzie to {{ team.id }}.
<br>Prosimy o przestrzeganie tego wymogu, ułatwi to szybkie księgowanie wpłat.
<br>
<br>Pozdrawiamy
<br>Obsługa Systemu Zgłoszeń
<br>Zlot Grunwaldzki 2016
